:root {
    --layout-1-bgcolor: #101114;
    --layout-1-txtcolor: #f6f6f6;
    --layout-1-highlight: #ffc41b;
    --layout-1-accentmargin: 5em;

    --layout-2-bgcolor: #EEEEF6;
    --layout-2-hdrcolor: #DAAD01;
    --layout-2-txtcolor: #333332;

    --layout-fonts: Arial, Verdana, "Geneva", Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--layout-fonts);
    line-height: normal;
}

/* NAVBAR */

#nav-bar {
    display: flex;
    background-color: var(--layout-1-bgcolor);
    color: var(--layout-1-highlight);
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

#nav-bar ul li {
    display: inline;
    font-size: 20px;
}

#nav-bar a {
    color: var(--layout-1-highlight);
    text-decoration: none;
    padding: 0px 10px;
    border-bottom: 3px solid var(--layout-1-highlight);
}

#title {
    font-size: 45px;
    padding: 0 1%;
    margin: 5px 0 10px 0px;
    font-weight: 700;
    text-align: end;
}

    /* LOGO */
#logo {
    width: 100%;
    background-image: url("../logo.png");
    height: 250px;
    background-size: cover;
    position: relative;
}

#greet-box {
    font-size: 25px;
    font-weight: bold;
    bottom: 0.5em;
    border: 2px dotted black;
    text-align: center;
    padding: 5px;
}

/* CONTENT */
#content {
    display: flex;
    flex-direction: column;
    background-color: var(--layout-2-bgcolor);
    color: var(--layout-2-txtcolor);
    align-items: center;
    justify-content: center;
}


#content > div {
    display: flex;
    margin: 50px 0;
    width: 80%;
}

#content > div h2 {
    color: var(--layout-2-hdrcolor);
    padding-right: 10px;
    min-width: 15vw;
    text-align: right;
    font-size: 2.2em;
    border-right: .1em solid var(--layout-2-hdrcolor);
    padding-right: 10px;
    
}


   /* WORK */

#work > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;

}

#work figure {
    flex-basis: 100px;

}

#work figure > img {
    width: 100%;
    height: 100%;
}
 
    /* CONTACT ME */

#contact-me {
    height: 100%;
    width: 100%;

    display: table-cell;
    vertical-align: middle;
    
} 

#contact-me ul {
    
    width: inherit;
    height: 100px;
    display: flex;
    align-items: center;

    
}

#contact-me ul li {
    
    list-style-type:none;
    display: inline;
    transform: translateY(-50%);
    
}

#contact-me ul li a {
    
    margin: 2em;
    text-decoration: none;    
    color: var(--layout-2-txtcolor);
    text-align: center;
    border-bottom: .2em solid var(--layout-2-hdrcolor);

}

 
/* CLASSES */
.content-box {
    background-color: var(--layout-1-highlight);
    color: var(--layout-1-bgcolor);
    width: 20vw;
}

.kick-tothe-right {
    position: absolute;
    right: var(--layout-1-accentmargin);
}

.test-case {
    border: 1px solid red;
}

.centered-container {
    display: table;
    height: 100%;
}

.centered-element {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    overflow: hidden;
}

.column {
    flex: 100%;
}

.column img {
    padding: 10px;
    vertical-align: middle;
    object-fit: fill;
    width: 100%;
}